@import "colores";
@import "../node_modules/scss/bootstrap.scss";
@import "../css/fuentes.css";

   .contenido-admin {
    flex: 1 0 auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    padding: 50px 0;
}



.btn.boton-admin {
    background: linear-gradient(to right, $azul-enfasis, $rojo-enfasis);
    color: $texto-enlaces-botones;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer; 
    
    &:hover {
        background: linear-gradient(to right, $rojo-enfasis, $azul-enfasis);
        color: $texto-enlaces-botones;
        }
    }
